<% include ../partials/header.ejs %>

<style type="text/css">
	#chat { list-style-type: none; margin: 0; padding: 0; }
	#chat li { padding: 5px 10px; }
	#chat li:nth-child(odd) { background: #eee; }
</style>

<header>
	<h2>Ntalk - Chat </h2>
</header>


<section class="row-fluid">
	<div class="span6 offset3">
		<ul id="chat" class="pre-scrollable" style="width:auto;height:250px;"></ul>
		<div class="input-append">
			<input type="text" id="msg" placeholder="Mensagem" autocomplete="off">
			<button onclick="enviar();">Enviar</button>
		</div>
	</div>
</section>

<script src="http://localhost:4555/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var socket = io('http://localhost:4555',{
		transports: ['websocket', 'polling', 'flashsocket']
	});
	socket.on('send-client', function (msg) {
		document.getElementById('chat').innerHTML += '<li>'+msg+'</li>';
		msg = '';

		//$('#chat').append($('<li>').text(msg));
	});
	var enviar = function() {
		var msg = document.getElementById('msg').value;

		socket.emit('send-server', {msg: msg});
	};
</script>


<% include ../partials/exit.ejs %>
<% include ../partials/footer.ejs %>