<% include header %>
<header>
	<h1>Ntalk</h1>
	<h4>Aconteceu algo terrivel !</h4>
</header>
<hr>

<p>
	Veja os detalhesdo erro:
	<br>
	<%- error.message %>
</p>

<p>
	Que tal volata a <a href="/ ">pagina inicial</a>
</p>
<% include footer %>